pandas
numpy
plotly
ipython
argparse
tqdm
SQLAlchemy
scikit-learn
Keras
gnureadline
setuptools
wheel
Flask
Flask-AutoIndex
jupyter
notebook
jupyterlab
fastapi
uvicorn[standard]
pyodbc
openpyxl
jupyterlab-spreadsheet-editor
