aiohttp
ctransformers
fastapi
Flask
Flask-AutoIndex
gnureadline
gradio
html2text
h5py
ipython
jupyter
jupyterhub
jupyterlab
langchain
matplotlib
nicegui
numpy
openpyxl
optuna
pandas
plotly
psutil
pydantic
pyodbc
python-dateutil
requests
scipy
shap
Sphinx
SQLAlchemy
tensorflow
torch
tqdm
transformers
urllib3
uvicorn[standard]
xgboost
jupyter_resource_usage
seaborn
kaleido
jupyterlab-spreadsheet-editor
