name: Build medpython (macOS)

on:
  workflow_dispatch:
    inputs:
      python_version:
        description: 'Python Version to Build'
        required: true
        default: '3.10'
        type: choice
        options:
          - '3.9'
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
      publish_to_pypi:
        description: 'Publish to PyPI?'
        required: true
        default: false
        type: boolean

jobs:
  build_mac_wheels:
    name: Build on macOS (${{ inputs.python_version }})
    runs-on: macos-15
    permissions:
      contents: read
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6

      - name: Set up Python ${{ inputs.python_version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ inputs.python_version }} # Adjust to your needed version

      # --- BUILD PYTHON PACKAGE ---
      - name: Build MedPython Package
        run: |
          # 1. Install System Deps
          brew install libomp

          git clone https://github.com/Medial-EarlySign/medpython.git MR_LIBS
          
          cd MR_LIBS/Internal/MedPyExport/generate_binding
          # Get version info:
          GIT_COMMIT_HASH=$(git rev-parse HEAD)
          vesrion_in_toml=$(cat pyproject.toml | grep version | cut -d " " -f 3 | sed 's|"||g')
          version_txt=$(date +'Version_'${vesrion_in_toml}'_Commit_'${GIT_COMMIT_HASH}'_Build_On_%Y%m%d_%H:%M:%S')
          echo -e "Git version info:\n${version_txt}"
          export GIT_HEAD_VERSION=$version_txt 

          mkdir -p wheelhouse
          mkdir -p dist
          
          # 5. Install dependencies (if you have a requirements.txt, run it here)
          pip install build delocate numpy setuptools cmake "swig<4.3" pandas plotly

          # 6. Configure Compiler Flags for OpenMP/libomp
          LIBOMP_PREFIX=$(brew --prefix libomp)
          export CFLAGS="-Xpreprocessor -fopenmp -I$LIBOMP_PREFIX/include $CFLAGS"
          export CXXFLAGS="-Xpreprocessor -fopenmp -I$LIBOMP_PREFIX/include $CXXFLAGS"
          export LDFLAGS="-lomp -L$LIBOMP_PREFIX/lib $LDFLAGS"
          export MACOSX_DEPLOYMENT_TARGET="13.0"
          export ARCHFLAGS="-arch arm64" #x86_64
          export _PYTHON_HOST_PLATFORM="macosx-13.0-arm64"
          
          # 7. Build (Output to dist/)
          python -m build --wheel --outdir dist/

          # 8. Repair Wheels (Output to wheelhouse/)
          for whl in dist/*.whl; do
              delocate-wheel --require-archs arm64 -v -w wheelhouse/ "$whl"
          done
          
          # Clean up the unrepaired wheel to save space
          rm dist/*.whl

          # Verify we actually have wheels in wheelhouse
          ls -l wheelhouse/

      # --- UPLOAD ARTIFACT (Prepare for Job 2) ---
      - name: Upload Wheels
        uses: actions/upload-artifact@v4
        with:
          name: macos-wheels
          # We grab the repaired wheels from wheelhouse
          path: MR_LIBS/Internal/MedPyExport/generate_binding/wheelhouse/*.whl
          retention-days: 1
      # - name: Test MedPython
      #   run: |
      #     python -c 'import med'


# --- JOB 2: PUBLISH (Runs on Linux) ---
  publish_to_pypi:
    name: Publish to PyPI
    needs: build_mac_wheels
    runs-on: ubuntu-latest
    if: ${{ inputs.publish_to_pypi == true }}
    environment:
      name: pypi
      url: https://pypi.org/project/medpython

    permissions:
      contents: read
      id-token: write
    
    steps:
      - name: Download Wheels
        uses: actions/download-artifact@v4
        with:
          name: macos-wheels
          path: dist/  # Put them in a 'dist' folder for the publisher

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
