name: Generate PyPi package of Medial EarlySign

on:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  build_python_packages:
    name: Build Wheels (Manylinux)
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/project/medpython
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Prepare Docker/Podman
        run: |
          sudo apt-get update
          sudo apt-get install podman -y
          sudo apt-get autoremove -y
          sudo apt-get clean

      - name: Build Python Packages
        run: |
          cd Docker/medbuild_tools.new/04.medpython
          ./create.sh

      - name: Extract Artifacts
        run: |
          mkdir -p dist
          podman run --rm -dt --name medpython_cont manylinux_medpython bash
          podman cp medpython_cont:/earlysign/app/MR_LIBS/Internal/MedPyExport/generate_binding/wheelhouse/. dist/
          podman stop medpython_cont
          
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
