name: Generate PyPi package of Medial EarlySign

on:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build_python_packages:
    name: Build Wheels (Manylinux)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Prepare Docker/Podman
        run: |
          sudo apt-get update
          sudo apt-get install podman -y
          sudo apt-get autoremove -y
          sudo apt-get clean

      - name: Build Base Boost Image
        run: |
          cd Docker/medbuild_tools.new/01.basic_boost
          ./create.sh

      - name: Build Python Packages
        run: |
          cd Docker/medbuild_tools.new/04.medpython
          ./create.sh

      - name: Extract Artifacts
        run: |
          mkdir -p dist
          podman run --rm -dt --name medpython_cont manylinux_medpython bash
          podman cp medpython_cont:/earlysign/app/MR_LIBS/Internal/MedPyExport/generate_binding/wheelhouse/. dist/
          podman stop medpython_cont

      - name: Upload Wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels
          path: dist/*.whl
          retention-days: 1

  publish:
    name: Upload to PyPi
    needs: [build_python_packages]
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/project/medpython
    permissions:
      id-token: write

    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v5
        with:
          name: pypi-artifacts
          path: dist

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages_dir: dist/
        # Use a secret for the token if not using trusted publishing
        # password: ${{ secrets.PYPI_API_TOKEN }}
        # For trusted publishing, no token is needed here.